@font-face {
     font-family: 'StateFaceRegular';
     src: url('stateface/stateface-regular-webfont.eot');
     src: url('stateface/stateface-regular-webfont.eot?#iefix') format('embedded-opentype'),
          url('stateface/stateface-regular-webfont.woff') format('woff'),
          url('stateface/stateface-regular-webfont.ttf') format('truetype'),
          url('stateface/stateface-regular-webfont.svg#StateFaceRegular') format('svg');
     font-weight: normal;
     font-style: normal;
}

#video-container {
    position: relative;
    margin: 1em auto;
}

#target > div {
    /* default position */
    position: absolute;
    top: 0;
    left: 0;
    font-size: 10em;
    color: white;
}